@model IEnumerable<Product>

<h2>Products</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>CATEGORY ID</th>
        <th>SALE</th>
        <th>STOCK</th>
    </tr>
    
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.ProductId</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.CategoryId</td>
            <td>@product.OnSale</td>
            <td>@product.StockLevel</td>
        </tr>
    }
    
    
</table>