@model IEnumerable<Product>

<h2>Products</h2>

<div style="display: block">
    <a href="/Product/InsertProduct/">Create a New Product</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>CATEGORY ID</th>
        <th>SALE</th>
        <th>STOCK</th>
    </tr>
    
    @foreach (var product in Model)
    {
        <tr>
            <td><a href="Product/ViewProduct/@product.ProductId">@product.ProductId</a></td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.CategoryId</td>
            <td>@product.OnSale</td>
            <td>@product.StockLevel</td>
        </tr>
    }
    
    
</table>